<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCEyP.Properties.Settings.bdhugribaConnectionString"
            connectionString="server=localhost;user id=root;password=peluchin1994;persistsecurityinfo=True;database=bdhugriba"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>